body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: azure;
}

.top{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.cont{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 50px;
}

p{
    font-size: 18px;
}

form button{
    width: 80%;
    margin: 20px;
    padding: 10px;
    border: 0px;
    background-color: #00bcd5;
    color: azure;
    font-size: large;
}

.card{
    padding: 0px;
    display: flex;
    width: 50%;
}

.card .card-left{
    flex: 0 0 25%;
}

.card .card-right{
    flex: 0 0 75%;
}

i{
    font-size: 24px;
    color: black;
}

h2{
    color: #00bcd5;
}

.cir{
    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: azure;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.left-container{
    display: block;
    flex: 0 0 50%;
}

.message-box{
    padding: 25px;
    width: 30%;
    align-items: center;
    color: black;
    background-color: azure;
    z-index: 2;
    text-align: center;
}


form input{
    width: 80%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid black;
    padding: 5px;
    padding-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.message-box h1{
    padding-left: 24px;
    text-align: left;
}