body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: azure;
}

.top{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
}

.cont{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-size: 20px;
}

.card{
    padding: 0px;
    display: flex;
    width: 50%;
}

.card .card-left{
    flex: 0 0 25%;
}

.card .card-right{
    flex: 0 0 75%;
}

i{
    font-size: 24px;
    color: black;
}

h2{
    color: aqua;
}

.cir{
    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: azure;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
}

.container{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.left-container{
    display: block;
    flex: 0 0 50%;
}

.message-box{
    padding-right: 0px;
    width: 30%;
    align-items: center;
    text-align: center;
    color: black;
    background-color: azure;
    padding: 10px;
    z-index: 2;
}
