
#l1 .nav-link{
    font-size: larger;
    font-weight: 400;
    color: white;
    min-height: 100%;
    border-radius: 0%;
    font-family: "PT Sans Narrow";
    border: 10px solid transparent;
    height: 110px;
}

#l1 .nav-link:hover{
    background-color: rgba(240, 248, 255, 0.164);
    border-bottom: 10px solid rgb(42, 134, 240);
}

#head1{
    background-color: #353535;
    height: 100%;
}

#bottom1{
    background-color: #353535;
}

#myCarousel .carousel-item{
    height: 28rem;
    background: #474646;
}

#cont1{
    padding: 10px;
    
}

#cardy:hover{
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.card{
    border-radius: 0%;
    border: 0px;
    box-shadow: 10px 5px 10px rgba(0,0,0,0.09);
}

#v-pills-home-tab, #v-pills-profile-tab{
    width: 9rem;
    border-radius: 0%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.326);
    box-shadow: 10px 0px -10px rgba(0,0,0,0.09);
}

#myTab::after{
    box-shadow: 10px 0px 10px rgba(0,0,0,0.09);
}

#myTabContent{
    box-shadow: 10px 0px 10px rgba(0,0,0,0.09);
    padding: 1rem;
    border: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-left: 0;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.09);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #4c4c4c;
    border-top: 2px solid rgb(223, 222, 222);
    border-top: 2px solid rgb(223, 222, 222);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-bottom: 7px;
  }

  .swiper-slide img {
    display: block;
    min-width: 100%;
    height: 225;
    object-fit: cover;
  }

  @media screen and (max-width: 768px){
        .swiper-slide{
            min-width: 100%;
        }
  }